:root{
    --cor-de-fundo:#EBECEE;
    --branco:#FFFFFF;
    --laranja:#EB9800;
    --azul-degrade: Linear-grandient(97.54deg. #002F52 35.49%.)
    --font-principal:"Poppins"
}
body{
    background-color:var(--cor-de-fundo);
}

.cabecalho_menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url(./img/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display:inline-block;
   
}

.cabecalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}


.container {
           display: flex;
           align-items: center;
}
.container_imagem{
            padding: 1em;
            margin: 1em;
            width: 5em;
}
:checked ~.lista-menu{
    display: block;
}


.lista-menu__titulo,
.lista-menu__item { 
padding: 1em;
background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--laranja);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:black;
    text-transform: uppercase;
}

.lista-menu{
            display: inline-block;
            position: absolute;
            top: 100%;
            width: 20vw;
        }
.container-botao{
           display: none;
           }


    
